<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Create a new account</h1>

    <form action="/auth/sign-up" method="POST">
        Username:
        <input type="text" name="username" />

        Password:
        <input type="password" name="password" />

        Confirm Password:
        <input type="password" name="confirmPassword" />
        <button type="submit">Sign Up</button>
    </form>

</body>
</html>