<%- include('../partials/nav.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body class="auth-page">
    <h1 id="newAccountH1">Create a new account</h1>

    <form action="/auth/sign-up" method="POST" class="auth-form">
        <label for="username">Username:</label>
        <input type="text" name="username" />

        <label for="password">Password:</label>
        <input type="password" name="password" />

        <label for="password">Confirm Password:</label>
        <input type="password" name="confirmPassword" />
        <button type="submit">Sign Up</button>
    </form>

</body>
</html>