<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIgn In</title>
</head>
<body>
    <h1>Sign In</h1>
    <form action="/auth/sign-in" method="POST">
        Username:
        <input type="text" name="username" />
        Password:
        <input type="password" name="password" />
        <button type="submit">Sign In</button>
    </form>
</body>
</html>