<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Tracker</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="/" class="logo">Film Tracker.</a>
            
            <div class="nav-links">
        <a href="/movies">Movies</a>
        <a href="/dashboard">Dashboard</a>
        <% if (user) { %>
            <form action="/auth/sign-out?_method=DELETE" method="POST">
            <button type="submit" class="signbtn">Sign Out</button>
        </form>
            <% } %> 
            </div>
            
        </div>
        
    </nav>
</body>
</html>