@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Montenegrin+Gothic+One&family=Righteous&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Sharp Grotesk PE Trial Book', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(24, 24, 24);
}

body:has(.auth-links) {
    background-image: url('/images/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
}

.auth-page {
background-image: url('/images/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.auth-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    text-align: center;
    min-height: auto;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.navbar-custom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Bricolage Grotesque", sans-serif;
    padding: 12px 24px;
    font-size: 17px;
}

.logo {
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.nav-links-custom {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links-custom a{
    color: rgba(255, 255, 255, 0.738);
    text-decoration: none;
}


.signbtn {
    font-family: "Bricolage Grotesque", sans-serif;
}

h1 {
    color:#fff;
}

p {
    color:#fff;
}

a {
    color:#fff;
}

h3 {
    color:#fff;
}

#auth-text {
    margin-top: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Test Tiempos Headline', sans-serif;
    margin-bottom: 25px;
    gap: 3px;
    
}
#auth-text p{
margin: 0;
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
}



.auth-form{
    max-width: 350px;
    margin: 10px auto 60px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.auth-form label{
    font-size: 14px;
    margin-bottom: -8px;
}

.auth-form input {
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: rgb(215, 215, 215);
    font-size: 14px;
}

.auth-form button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    cursor: pointer;

}

#newAccountH1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 25px;
    margin-bottom: 50px;
}