<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Edit Review Form</h1>
   <form action="/movies/<%= foundreview.movie %>/reviews/<%= foundreview._id %>?_method=PUT" method="POST">

        <label for="rating">Rating (1-5):</label>
        <input type="number" name="rating" min="1" max="5" value="<%= foundreview.rating %>" required >

        <label for="text">Review:</label>
        <textarea name="text" required><%= foundreview.text %></textarea>

        <button type="submit">Submit Edited Review</button>

    </form>
</body>
</html>