<%- include('../partials/nav.ejs') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (user){ %>
        <h1>Browse movies</h1>
        <a href="/movies/new">Add Movie</a>
    <% }%>

    <% if (!user) { %>
        <h1> browse movies</h1>
    <% }%>

    <% allMovies.forEach((item) => { %>
        <ul>
            <a href="/movies/<%= item._id %>">
            <img src="<%= item.image.url%>" width="200px">
            <h3> <%= item.title %> </h3>
            </a>
       

        </ul>
    <% }) %>
</body>
</html>

